#container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(200, 89%, 21%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: hsl(200, 89%, 31%);
}

button:active {
    background-color: hsl(200, 70%, 20%);
}

input {
    font-size: 2rem;
    width: 200px;
    text-align: center;
    font-weight: bold;
}

#diceImages img {
    width: 100px;
    height: 100px;
    margin: 10px;
}
#diceResult {
    margin-top: 20px;
    font-size: 2rem;
}