body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
}
h1 {
    color : hsl(210, 94%, 49%);
}
form {
    background-color: white;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 12px;
    border-radius: 5px 5px 15px hsl(86, 96%, 51%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#textBox {
    width: 50%;
    text-align: center;
    padding: 8px;
    font-size: 2em;
    border : 2px solid hsla(210, 94%, 49%, 0.429);
    border-radius: 4px;
    margin-bottom: 12px;
}
label {
    font-size: 1.2em;
    font-weight: bold;
}
button {
   margin-top : 15px;
   background-color: hsl(59, 96%, 47%) ;
   font-size: 1.5em;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
}

button:hover {
    background-color: hsl(59, 96%, 57%);
}
#result {
    margin-top: 15px;
    font-size: 1.75em;
    font-weight: bold;
}